<% content_for :head do %>
  <%= stylesheet_link_tag 'ideas', :media => 'all' %>
  <%= stylesheet_link_tag 'core', :media => 'all' %>
<% end %>
<%= render :partial => 'welcome/header', :locals => { :title => t('feedback') } %>
<div id="doc-wrap">
  <div id="doc" class="clearfix">
    <div class="body clearfix">
      <%=render :partial=>"type"%>
      <div class="right_template">
        <% unless flash[:error].blank? %>
          <div class="wrap content-notice">
            <p class="notice notice-error">
              <%= flash[:error] %>
            </p>
          </div>
        <% end %>
        <% form_for @idea do |f| %>
          <p>
            <%= f.label 'type_id', "问题类型：" %>
            <%= f.select 'type_id', @idea_types.collect{|c| [c.name,c.id]} %>
          </p>
          <p>
            <%= f.label 'title', "标题：" %>
            <%= f.text_field 'title' %>
          </p>
          <p>
            <%= f.label 'content', "内容：" %>
            <%= f.text_area 'content' %>
            <%=f.hidden_field 'id'%>
          </p>
          <p>
            <label>&nbsp;</label>
            <%= f.submit "确定" %>
          </p>
        <% end -%>
      </div>
    </div>
  </div>
</div>