<div class="columns columns37 clearfix">
  <div class="column">
    <% if @device_view and @device_view.rows.size %>
      <%=render :partial => "templates/#{@device_view.template}", :locals => {:view => @device_view } %>
    <% end %>
  </div>
  
  <div class="column column-last">
    <div class="datagrid">
      <table  cellspacing="0">
        <thead>
          <tr>
            <%=th_tag "网络类型" %>
            <%=th_tag "数量"%>
          </tr>
        </thead>
        <tbody>
          <% if @device_types.size > 0 %>
            <% @device_types.each do |type| %>
              <tr>
                <%=td_tag h(type.name) %>
                <%=td_tag h(type.count)%>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



