<div class="columns columns37 clearfix">
  <div class="column">
    <% if @host_view and @host_view.rows.size %>
      <%=render :partial => "templates/#{@host_view.template}", :locals => {:view => @host_view } %>
    <% end %>
  </div>
  <div class="column column-last">
    <div class="datagrid">
      <table  cellspacing="0">
        <thead>
          <tr>
            <%=th_tag "主机类型" %>
            <%=th_tag "数量"%>
          </tr>
        </thead>
        <tbody>
          <% if @host_types.size > 0 %>
            <% @host_types.each do |type| %>
              <tr>
                <%=td_tag h(type.name) %>
                <%=td_tag h(type.count)%>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
