<% content_for :head do %>
  <%=stylesheet_link_tag 'threshold',:media=>'all' %>
<% end %>
<div class="wrap">
  <% board do %>
    <% board_header do %>
      <%= render :partial => "layouts/path", :locals => { :text => t("edit") } %>
      <%= t('edit') + t('services') %>
    <% end %>
    <% board_content do %>
      <p class="notice">
      正在修改<%= link_to @service.serviceable.name, @service.serviceable %>上的<%= @service_type.alias %>服务<%= link_to @service.name, @service %> 
      </p>
      <% form_for(@service, :builder => ::UIFormBuilder, :html => { :class => "form" }) do |f| %>
        <%= redirect_tag %>
        <%= f.hidden_field :type_id %>
        <%= hidden_field_tag "host_id", @host.id if @host %>
        <%= hidden_field_tag "app_id", @app.id if @app %>
        <%= hidden_field_tag "site_id", @site.id if @site %>
        <%= hidden_field_tag "device_id", @device.id if @device %>
        <% field_set_tag "基本信息" do %>
          <%= f.text_field :name, :required => true %>
          <%= f.select :check_interval, @check_intervals, {}, :required => true %>
          <%= f.select :agent_id, [["Monit服务器", ""]] + @agents.collect { |x| [x.human_username, x.id] }, {} %>
        <% end %>
        <% service_params = @service_type.params  %>
        <% service_params.delete_if { |x| x.param_type != 1 } %>
        <% if @service.errors.on(:params) %>
          <p class="notice notice-error">
          服务<%= @service.errors.on(:params) %>
          </p>
        <% end %>
        <% if service_params.size > 0  %>
          <% field_set_tag "服务参数", :id=>"param" do %>
            <% service_params.each do |param| %>
              <%= f.wrap_field 'params_' + param.name , f.wrap_tag('text_field', text_field_tag('service[params]['+ param.name + ']', @service.params_object[param.name.to_sym])), { :label => param.alias, :help => param.help, :error => param.error, :required => (param.required == 1) } %>
            <% end %>
          <% end %>
        <% end %>
        <%= render :partial => "threshold", :locals => { :f => f } %>
        <% if @service.is_ctrl? %>
          <p class="notice">
          <% source = @service.serviceable %>
          <%= @service.name %> 为 <%= link_to(source.name, source)%> 的主控服务，其通知已合并到<%= source.name %>，<%= link_to("设置通知", polymorphic_path(source, :action => "edit", :anchor => "notification")) %>
          </p>
        <% else %>
          <%=render :partial => "notifications/setting", :locals => {:f => f, :source => "service", :types => ["critical", "warning", "unknown", "recovery"] } %>
        <% end %>
        <%= f.submit t('update') %>
      <% end %>
    <% end %>
  <% end %>
</div>
