<div class="wrap">
  <% board do %>
    <% board_header do %>
      修改角色
    <% end %>
    <% board_content do %>
      <% form_for @role, :builder => ::UIFormBuilder, :url => role_path, :html => { :class => "form" } do |f| %>
        <% field_set_tag nil, :style => "padding:1em;" do %>
          <div class="li"><%= f.text_field :role_name,:required=>true %></div>
          <div class="li"><%= f.label :permissions, "权限", :class => 'label', :required => true %> <%= render :partial => 'permissions', :locals => {:selected_modules => @selected_modules,:selected_name => @selected_name, :selected_permissions => @selected_permissions} %></div>
          <div class="li"><%= f.text_field :description %></div>
          <div class="li actions" align="center"><%= f.submit t("update"), :name => nil %></div>
        <% end %>
      <%end%>
    <% end %>
  <% end %>
</div>

