<div class="wrap">
  <% board do %>
    <% board_header do %>
      <%= render :partial => "layouts/path", :locals => { :text => t("delete") } %>
      <%= t('delete') + t('sites') %>
    <% end %>
    <% board_content do %>
      <p class="notice">
      您正在删除 <%= @site.name %>
      </p>
      <div class="columns columns clearfix">
        <div class="column">
          <div class="column-inner list">

            <h4>将同时删除此<%= t('site') %>的服务：</h4>
            <ul class="ol">
              <%
                services = @site.services
              %>
              <% if services.size > 0 %>
                <% services.each do |service| %>
                  <li><%= link_to service.name, service %></li>
                <% end %>
              <% else %>
                <li class="gray"><%= @site.name %>上暂无服务。</li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="column-inner list">
            <% form_for(@site, :builder => ::UIFormBuilder, :html => { :class => "form", :method => :delete }) do |f| %>
              <%=button_wrap(submit_tag '确认' + t('delete'), :name => nil) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
