<% @group_name = Site.human_attribute_name 'group_id' %>
<div class="wrap">
  <% board do %>
    <% board_header do %>
      <%= render :partial => "layouts/path", :locals => { :text => t("all") } %>
        <%= Site.human_name %>
        <!--
      <span class="board-title">
      </span>
      <div class="ui-actions actions">
        <span>
          <span>
            <%= link_to("添加", new_site_path, :class => "last")%>
          </span>
        </span>
      </div>
      -->
    <% end %>
    <% board_content do %>
      <div class="filters clearfix">
        <%= status_tabs @status_tab, @current_status_name, {} %>
        <div>
          <% form_tag(url_for(params), :method=>:get) do%>
            <%
            a = filter_params(params)
            a.delete(:group)
          %>
            <% a.each do |k,v| %>
              <%= hidden_field_tag k, v %>
            <% end %>
            <div class="hide">
              <p class="last">
                <label>显示方式：</label>
                <span><%= link_to icon('list-current', :title => '列表'), filter_params(params, :view => nil) %> <%= link_to icon('icon', :title => '图标'), filter_params(params, :view => 'icon') %></span>
              </p>
            </div>
            <p class="last">
              <label><%= @group_name %>：</label>
              <span><%= select_tag('group', '<option value=''>所有</option>' + options_from_collection_for_select(@groups, 'name', 'name', params[:group]))%></span>
            </p>
            <p class="actions js-hide">
              <%= tag('input', :type =>'submit', :value =>'过滤', :name => nil, :class => 'submit' )%>
            </p>
          <% end %>
        </div>
      </div>

      <% form_tag(url_for(:action => "index"), :method => :get) do%>
        <%= redirect_tag url_for(params) %>
        <table class="grid" cellspacing="0">
          <thead>
            <tr>
              <% th_tag :class => "actions first" do %>
            <div class="pop-wrap">
              <div class="pop">
                <div class="pop-inner">
                  <div class="ui-actions">
                    <span>
                      <span>
                        <%= link_to("通知设置", edit_notification_sites_path, :class => "last")%>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <%= check_box_tag "all", "" %>
          <% end %>
          <%=th_tag sort_link_to("name", Site.human_attribute_name("name"), params), :style => "width:120px;" %>
          <%=th_tag (Site.human_attribute_name 'status'), :style => "width: 50px;" %>
          <%=th_tag sort_link_to("url", Site.human_attribute_name("url"), params), :style => "width:150px;" %>
          <%=th_tag Site.human_attribute_name('group_id'), :style => "width:80px;" %>
          <%=th_tag sort_link_to("last_check", Site.human_attribute_name("last_check"), params), :class => "time" %>
          <%=th_tag (Site.human_attribute_name 'service_num'), :style => "width:60px;"  %>
          <%=th_tag Site.human_attribute_name 'summary' %>
          <%=th_tag "", :class => "last" %>
          </tr>
          </thead>
          <tfoot>
            <tr>
              <%=th_tag "", :class => "first" %>
              <th colspan="7">
                <% if @sites && @sites.length > 0 %>
                  <div class="page clearfix">
                    <div class="stat">显示<%=@sites.total_entries %>个网站中的<%=@sites.size %>个</div>
                    <%=will_paginate @sites%>
                  </div>
                <%end%>
              </th>
              <%=th_tag "", :class => "last" %>
            </tr>
          </tfoot>
          <tbody>
            <% if @sites.size > 0 %>
              <% @sites.each do |site| %>
                <tr<%= @first_false ? "" : ((@first_false = true) && " class='first'") %>>
                  <% td_tag :class => "actions first" do %>
                <div class="pop-wrap">
                  <div class="pop">
                    <div class="pop-inner">
                      <%= link_to(icon("delete2", :title => "删除", :class => controlled("sites/destroy")), confirm_site_url(site, redirect_object))%>
                      <%= link_to(icon("edit2", :title => "修改",:class=>controlled("sites/edit")), edit_site_url(site, redirect_object))%>
                    </div>
                  </div>
                </div>
                <%= check_box_tag "ids[#{site.id}]", "" %>
              <% end %>
              <%=td_tag link_to(h(site.name), site,:class=>controlled("sites/show")) %>
              <%=td_tag h(t("status.site." + site.status_name)), :class => "status status-site-" + site.status_name %>
              <%=td_tag site.url %>
              <% if site.group.nil? %>
               <%=td_tag inlink_to("设置分组", edit_site_url(site, redirect_object),:class=>controlled("sites/edit"))%>
              <%else%>
              <%=td_tag group_link_to(h(site.group.name),filter_params(params)) %>
              <%end%>
              <%=td_tag format_time(site.last_check, true) %>
              <%=td_tag link_to(h(site.services.size), {:controller => "services", :site_id => site.id},:class=>controlled("services/show")) %>
              <%=td_tag(content_tag :div, site.summary, :class => "truncate") %>
              <%=td_tag "", :class => "last" %>
              </tr>
            <% end %>
          <% else %>
            <tr class="first">
              <% td_tag :colspan => 9 do %>
              <p class="notice">
                列表显示网站，现在还没有网站，<%= link_to "添加一个", new_site_path,:class=>controlled("sites/new") %>
              </p>
            <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>
</div>
