<div class="wrap">
  <% board do %>
    <% board_header do %>
      <%= render :partial => "layouts/path", :locals => { :text => t("new") } %>
      <%= t('new') + t('site') %>
    <% end %>
    <% board_content do %>
      <% form_for(@site, :builder => ::UIFormBuilder, :html => {:class => "form"}) do |f| %>
        <%= f.text_field :name, :required => true, :help => "网站唯一名称" %>
        <%= f.text_field :url, :required => true, :help => "网站地址，例如：http://www.monit.cn" %>
        <%= f.select :group_id, [['无','']] + @groups.collect { |x| [x.name, x.id] } %>
        <%= f.submit t('create') %>
      <% end %>
    <% end %>
  <% end %>
</div>
