<table class="table" cellspacing="0">
  <thead>
    <tr>
      <%=th_tag (App.human_attribute_name 'name'), :style => "width: 140px" %>
      <%=th_tag (App.human_attribute_name 'status'), :style=> "width: 50px" %>
      <%=th_tag (App.human_attribute_name 'type_id'), :style=> "width: 120px" %>
      <%=th_tag (App.human_attribute_name 'summary') %>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <%=td_tag link_to app.name, app %>
        <%=td_tag h(t("status.app." + app.status_name)), :class => "status status-app-" + app.status_name %>
        <%=td_tag app.type.name %>
        <%=td_tag app.summary %>
      </tr>
    <% end %>
  </tbody>
</table>
