<% @type_name = App.human_attribute_name 'type_id' %>
<% @group_name = App.human_attribute_name 'group_id' %>
<div class="wrap">
  <% board do %>
    <% board_header do %>
      <%= render :partial => "layouts/path", :locals => { :text => t("all") } %>
      <%= App.human_name %>
    <% end %>
    <% board_content do %>
      <div class="filters clearfix">
        <%= status_tabs @status_tab, @current_status_name, {} %>
        <div>
          <% form_tag(url_for(params), :method=>:get) do%>
            <%
            a = filter_params(params)
            a.delete(:type)
            a.delete(:group)
          %>
            <% a.each do |k,v| %>
              <%= hidden_field_tag k, v %>
            <% end %>
            <p class="last">
              <label><%= @type_name %>：</label>
              <span><%= select_tag('type', '<option value=''>所有</option>' +options_from_collection_for_select(@app_types, 'name', 'name', params[:type]))%></span>
            </p>

            <p>
              <label><%= @group_name %>：</label>
              <span><%= select_tag('group', '<option value=''>所有</option>' + options_from_collection_for_select(@groups, 'name', 'name', params[:group]))%></span>
            </p>
            
            <p class="actions js-hide">
              <%= tag('input', :type =>'submit', :value =>'过滤', :name => nil, :class => 'submit' )%>
            </p>
          <% end %>
        </div>
      </div>

      <% form_tag(url_for(:action => "index"), :method => :get) do%>
        <%= redirect_tag url_for(params) %>
        <table class="grid" cellspacing="0">
          <thead>
            <tr>
              <% th_tag :class => "actions first" do %>
            <div class="pop-wrap">
              <div class="pop">
                <div class="pop-inner">
                  <div class="ui-actions">
                    <span>
                      <span>
                        <%= link_to("通知设置", edit_notification_apps_path, :class => "last")%>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <%= check_box_tag "all", "" %>
          <% end %>
          <%=th_tag sort_link_to("name", App.human_attribute_name("name"), params), :style => "width:100px;" %>
          <%=th_tag (App.human_attribute_name 'status'), :style => "width: 50px;" %>
          <%=th_tag (App.human_attribute_name 'host_id'), :style => "width: 100px;" %>
          <%=th_tag @type_name, :style => "width: 80px;" %>
          <%=th_tag @group_name, :style=>"widtho:80px;"%>
          <%=th_tag sort_link_to("last_check", App.human_attribute_name("last_check"), params), :class => "time" %>
          <%=th_tag (App.human_attribute_name 'service_num'), :style => "width:60px;"  %>
          <%=th_tag App.human_attribute_name 'summary' %>
          <%=th_tag "", :class => "last" %>
          </tr>
          </thead>
          <tfoot>
            <tr>
              <%=th_tag "", :class => "first" %>
              <th colspan="8">
                <% if @apps && @apps.length > 0 %>
                  <div class="page clearfix">
                    <div class="stat">显示<%=@apps.total_entries %>个应用中的<%=@apps.size %>个</div>
                    <%=will_paginate @apps%>
                  </div>
                <%end%>
              </th>
              <%=th_tag "", :class => "last" %>
            </tr>
          </tfoot>
          <tbody>
            <% if @apps.size > 0 %>
              <% @apps.each do |app| %>
                <tr<%= @first_false ? "" : ((@first_false = true) && " class='first'") %>>
                  <% td_tag :class => "actions first" do %>
                <div class="pop-wrap">
                  <div class="pop">
                    <div class="pop-inner">
                      <%= link_to(icon("delete2", :title => "删除"), confirm_app_url(app, redirect_object), :class => controlled("apps/destroy"))%>
                      <%= link_to(icon("edit2", :title => "修改"), edit_app_url(app, redirect_object), :class=>controlled("apps/edit"))%>
                    </div>
                  </div>
                </div>
                <%= check_box_tag "ids[#{app.id}]", "" %>
              <% end %>
              <%=td_tag link_to(h(app.name), app,:class=>controlled("apps/show")) %>
              <%=td_tag h(t("status.app." + app.status_name)), :class => "status status-app-" + app.status_name %>
              <%=td_tag link_to(h(app.host.name), app.host) %>
              <%=td_tag type_link_to(h(app.type.name), filter_params(params)) %>
              <% if app.group.nil? %>
                <%= td_tag inlink_to("设置分组", edit_app_url(app, redirect_object),:class=>controlled("apps/edit"))%>
              <% else %>
                <%=td_tag group_link_to(h(app.group.name),filter_params(params)) %>
              <%end%>
              <%=td_tag format_time(app.last_check, true) %>
              <%=td_tag link_to(h(app.services.size), {:controller => "services", :app_id => app.id}, :class=>controlled("services/show")) %>
              <%=td_tag(content_tag :div, app.summary, :class => "truncate") %>
              <%=td_tag "", :class => "last" %>
              </tr>
            <% end %>
          <% else %>
            <tr class="first">
              <% td_tag :colspan => 10 do %>
              <p class="notice">
                列表显示应用，现在还没有应用，<%= link_to "添加一个", new_app_path,:class=>controlled("apps/new") %>
              </p>
            <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>
</div>

