<div class="wrap">
  <% board do %>
    <% board_header do %>
      可用率报表
    <% end %>
    <% board_content do %>
      <%= tabs [["site", "网站", {:controller => 'site_availabilities'}],["host", "主机", {:controller => 'host_availabilities'}],["app", "应用", {:controller => 'app_availabilities'}],["device", "网络", {:controller => 'device_availabilities'}],["service", "服务", {:controller => 'service_availabilities'}]], 'service' %>
      <div class="selector-wrap">
        <p class="selector">
          <% dates=[['最近24小时(Last 24 hours)','last24hours'],['今天(Today)','today'],['昨天(Yesterday)','yesterday'],['本周(This Week)','thisweek'],['最近7天(Last 7 days)','last7days'],['本月(This Month)','thismonth'],['最近30天(Last 30 days)','last30days']] %>
          <% dates.each do |d| %>
            <%= link_to d[0] ,{:controller=>:service_availabilities,:action=>'show',:date=>d[1],:object=>@object,:instance=>@instance,:serviceid=>@serviceid}, :class => (d[1]==@date ? "selected" : nil) %>
          <% end %>
        </p>
        <p class="selector">
          <% objects={'主机'=>'1','应用'=>'2','网站'=>'3','网络'=>'4'} %>
          <% objects.each do |k,v|%>
            <%= link_to k,{:controller=>:service_availabilities,:action=>'show',:object=>v,:date=>@date,:instance=>@instance,:serviceid=>@serviceid}, :class => (v==@object ? "selected" : nil) %>
          <% end %>
        </p>
        <p class="selector">
          <% if !@instances.nil? %>
            <%  @instances.each do |n| %>
              <%= link_to n.name, {:controller=>:service_availabilities,:action=>'show',:instance=>n.id,:object=>@object,:date=>@date,:serviceid=>@serviceid}, :class =>(n.id.to_s==@instance ? "selected" : nil) %>
            <% end %>
          <%end%>
        </p>
        <p class="selector">
          <% if !@services.nil? %>
            <%  @services.each do |n| %>
              <%= link_to n.name,{:controller=>:service_availabilities,:action=>'show',:serviceid=>n.id,:instance=>@instance,:object=>@object,:date=>@date},:class =>(n.id.to_s == @serviceid ? "selected" : nil) %>
            <% end %>
          <%end%>
        </p>
      </div>
      <div class="datagrid" style="background-color:#FFFFFF;height: 300px;">
        <div style="float: left; width: 30%;padding-top: 70px;">
          <% if @service_status %>
            <%= image_tag status_chart(@service_status), :alt => "#{t("service")}状态统计" %>
          <%end%>
        </div>
        <div style="float: right; width: 70%;">
          <% if @history_view and @history_view.rows.size %>
            <%=render :partial => "templates/#{@history_view.template}", :locals => {:view => @history_view } %>
          <% end %>
        </div>
      </div>
    <% end %>
  <%end%>
</div>

<div class="wrap">
  <% board do %>
    <% board_header do %>
      统计报告
    <% end %>
    <% board_content do %>
      <table class="grid" cellspacing="0">
        <thead>
          <tr>
            <%=th_tag "时间段"%>
            <%=th_tag "正常"%>
            <%=th_tag "故障"%>
            <%=th_tag "告警"%>
            <%=th_tag "未知"%>
            <%=th_tag "未监控"%>
          </tr>
        </thead>
        <tbody>
          <% if @stats %>
            <% @stats.each do |stats| %>
              <tr<%= @first_false ? "" : ((@first_false = true) && " class='first'")%>>
                <%=td_tag Time.at(stats["parent_key"].to_i)%>
                <%=td_tag ('%.2f' %(stats["ok"]))+"%"%>
                <%=td_tag ('%.2f' %(stats["critical"]))+"%"%>
                <%=td_tag ('%.2f' %(stats["warning"]))+"%"%>
                <%=td_tag ('%.2f' %(stats["unknown"]))+"%"%>
                <%=td_tag ('%.2f' %(stats["pending"]))+"%"%>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <%end%>
  <% end %>
</div>
