<div class="wrap clearfix">
   <div style="float: left;width: 35%;">
    <% if @device_view  and @device_view.rows.size %>
      <%=render :partial => "templates/#{@device_view.template}", :locals => {:view => @device_view  } %>
    <% end %>
  </div>
  <div  class="datagrid" style="float: right;width:60%;">
  <table cellspacing="0">
    <thead>
      <tr>
        <%=th_tag "网络状态"%>
        <%=th_tag "数量"%>
      </tr>
    </thead>
    <tbody>
      <% if @device_status.size > 0 %>
        <% @device_status.each do |status| %>
          <tr>
            <%=td_tag h(status.title) %>
            <%=td_tag h(status.num)%>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
