<div id="resend_password">
  <div class="entry-left">
    <h3>
      <%=icon("signup") %>重设密码
    </h3>
    <div>
      <% if @success %>
        <div class="entry-notice">
          <p>&nbsp;</p>
          <p>
          重设密码申请成功
          </p>
          <p>
          请到您邮箱[<%=@user.email[0..2] %>******]查阅来自<%= t('production_name') %>的邮件, 打开重设密码连接设置新密码。
          </p>
          <p>
          感谢您对<%= t('production_name') %>的支持。 
          </p>
          <p>&nbsp;</p>
          <% form_tag ({:controller => "accounts", :action => "resend_password"}, {:method => :get}) do %>
            <%=button_wrap((submit_tag '重发邮件', :name => nil), :hl => true) %>
          <% end %>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>

      <% else %>
        <% form_for @user, :builder => ::UIFormBuilder, :url => {:controller => "accounts", :action => "resend_password"} do |f| -%>
          <p>&nbsp;</p>
          <%#= f.error_messages %>
          <%= f.text_field :login,  :label => "用户名或邮箱", :help => "输入用户名或邮箱，我们将发送密码重置链接到您邮箱。" %>
          <%= f.submit '申请重设密码', :hl => true %>
        <% end -%>
      <% end %>
    </div>
  </div>
  <div class="entry-right">
    <h4>小提示</h4>
    <ul>
      <li>提交账号的用户名或邮箱</li>
      <li>到邮箱收取密码修改链接</li>
      <li>打开链接重新设置密码</li>
    </ul>
    <div>
      <% form_tag login_path, :method => :get do %>
        <%=button_wrap(submit_tag '返回登录', :name => nil) %>
      <% end %>
    </div>
  </div>
</div>
