<div id="resend_password">
  <div class="entry-left">
    <h3>
      <%=icon("signup") %>重设密码
    </h3>
    <div>
      <% if @user %>
        <p>&nbsp;</p>
        <% form_for @user, :builder => ::UIFormBuilder, :url => {:controller => "accounts", :action => "reset_password"} do |f| -%>
          <%#= f.error_messages %>
          <%= f.hidden_field :reset_password_code %>
          <%= f.password_field :password, :label=>"新密码", :required => true%>
          <%= f.password_field :password_confirmation, :required => true%>
          <%= f.submit '确认新密码', :hl => true %>
        <% end -%>
      <% else -%>
        <div class="entry-notice">
          <p>&nbsp;</p>
          <p>
          您的重设密码链接已失效，请重新申请发送重设密码链接。
          </p>
          <p>&nbsp;</p>
          <% form_tag ({:controller => "accounts", :action => "resend_password"}, {:method => :get}) do %>
            <%=button_wrap((submit_tag '重新申请', :name => nil), :hl => true) %>
          <% end %>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="entry-right">
    <h4>小提示</h4>
    <ul>
      <li>提交账号的用户名或邮箱</li>
      <li>到邮箱收取密码修改链接</li>
      <li>打开链接重新设置密码</li>
    </ul>
    <div>
      <% form_tag login_path, :method => :get do %>
        <%=button_wrap(submit_tag '返回登录', :name => nil) %>
      <% end %>
    </div>
  </div>
</div>
