<div class="wrap">
  <% board do %>
    <% board_header do %>
      <%= render :partial => "layouts/path", :locals => { :text => t("detail") } %>
      可用率报表
    <% end %>
    <% board_content do %>
      <%= tabs @tabs, 'service' %>
      <div class="selector-wrap">
        <p class="selector">
        <% @dates.each do |d| %>
          <%= link_to d[0] ,params.merge({:date=>d[1]}), :class => (d[1]==@date ? "selected" : nil) %>
        <% end %>
        </p>
        <p class="selector">
        <% @source_types.each do |n| %>
          <% selected = n == @source_type %>
          <%= link_to "#{selected ? icon("carat2") : nil}#{t(n)}", services_avail_path(n, :date=>@date, :source_type => n), :class =>( selected ? "selected" : nil) %>
        <% end %>
        </p>
        <p class="selector">
        <% @sources.each do |n| %>
          <% selected = n.id == (@source && @source.id) %>
          <%= link_to "#{selected ? icon("carat2") : nil}#{n.name}", services_avail_path(n, :date=>@date , (@source_type + "_id") => n.id), :class =>(selected ? "selected" : nil) %>
        <% end %>
        </p>        
        <% if @services %>
          <p class="selector">
          <%= link_to t("all") + t("service"), services_avail_path(:date=>@date), :class =>(params[:service_id].blank? ? "selected" : nil) %>
          <% @services.each do |n| %>
            <%= link_to n.name, service_avail_path(n,:date=>@date), :class =>(n.id.to_s ==params[:service_id] ? "selected" : nil) %>
          <% end %>
          </p>
        <% end %>
      </div>
      <%=render :partial => "templates/#{@history_chart_view.template}", :locals => {:view => @history_chart_view } %>
      <div class="columns columns37 clearfix">
        <div class="column">
          <%=render :partial => "templates/#{@total_chart_view.template}", :locals => {:view => @total_chart_view } %>
        </div>
        <div class="column column-last">
          <%=render :partial => "templates/#{@history_view.template}", :locals => {:view => @history_view } %>
        </div>
      </div>
    <% end %>
  <%end%>
</div>
