<p>
  <b>Tenant:</b>
  <%=h @bill.tenant_id %>
</p>

<p>
  <b>Amount:</b>
  <%=h @bill.amount %>
</p>

<p>
  <b>Summay:</b>
  <%=h @bill.summay %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>